@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    border:0;
    margin:0;
    font-family:poppins;
}

h2{
    display:flex;
    justify-content: center;
    position:relative;
    bottom:-10px;
}

.box{
    width:100vw;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    position:relative;
    top:100px;
}

.menu{
    height:200px;
    width:200px;
    caret-color: transparent;
    border:solid black 1px;
    border-radius: 15px;
    color:black;
    margin:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    /* transition: transform .5s, margin .5s, background-color .5s, padding-top .10s; */
    transition:all .5s;
}

.menu:hover{
    transform:scale(1.3);
    margin:30px;
    background-color:rgb(103, 186, 253);
    border: none;
}

/* .option_logo{
    height:70px;
    width:70px;
    position:relative;
    top:30px;
    transition:all .5s, stroke .2s;
} */

/* .menu:hover .option_logo{
    transform:translateY(-20px) scale(1.3);
} */

span{
    transition:all .5s;
    position:relative;
    top:50px;
    letter-spacing: 0.8px;
}

.menu:hover span{
    transform:translateY(-150px);
    font-size:18px;
    font-weight:700;
}

p{
    font-size:13px;
    line-height: 1.2;
    color: black;
    width:150px;
    text-align:center;
    visibility:hidden;
    opacity: 0; 
    transition:transform .5s, opacity 1s ;
}

.menu:hover p{
    color:white;
    visibility:visible;
    opacity: 1;
    transform: translateY(-25px);
}

button{
    font-size:12px;
    border:none;
    border-radius:10px;
    padding:4px 12px;
    visibility: hidden;
    transform:translateY(-50px);
    opacity:0;
    transition:transform .5s, opacity 1.5s;
}

.menu:hover button{
    visibility:visible;
    transform:translateY(-15px);
    opacity:1;
}

button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.704);
}