@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    margin: 0;
    border: 0;
    font-family: poppins;
}

#failed_block{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#failed_img{
    height: 50px;
    width: 50px;
    position:relative;
    top:-80px;
    transition: transform 0.5s;
}

.zoomed {
    transform: scale(3);
    
}

#booking_msg{
    position:relative;
    top:-20px;
}