@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0; padding: 0; font-family: poppins;
    caret-color: transparent;
}
body{

    height: 100vh;
    width: 100vw;
    background-image: url("bg_img.jpg");
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    background-repeat: no-repeat;
    background-size: 1520px;
    background-position-y: -150px;
    
}

h1 {
    font-size: 60px; 
    letter-spacing: -2px;
    text-align: center;
    transform:translateY(190px) ;
    text-shadow: 2px 2px 20px  rgb(255, 255, 255);
}

h4 {
    font-size: 30px; 
    text-align: center;
    transform:translateY(200px) ;
    text-shadow: 2px 2px 10px  rgb(255, 255, 255);
}

span {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px  rgb(0, 0, 0);
}

input
{
    padding: 10px 30px; 
    outline: none; 
    border: none;
    background: rgb(103, 186, 253);
    font-family:poppins;
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    font-weight: 600;
    left: 650px;
    top: 450px;
    color: white;
    letter-spacing: .9px;
    transition:all 0.3s;
}

input:hover{
    cursor:pointer;
    background: rgb(103, 200, 253);
    box-shadow:0px 0px 20px white;
}

#message-bg{
    display:none; 
    position:fixed;
    background-color: rgba(0,0,0,0.5);
    height:100%;
    width:100%;
    top:0;
    left:0;
    user-select: none;
}

#message-box{
    background-color: white;
    padding:30px 30px 50px 30px;
    text-align: center;
    width:300px;
    margin:15% auto;
    border-radius: 8px;
    line-height:2;
}

#x{
    float: right;
    font-size:24px;
    font-weight: bold;
    cursor:pointer;
    color:#888;
    text-shadow:none;
    position:relative;
    top:-10px;
}

#x:hover{
    color:#666666;
}

#message-heading{
    position: relative;
    left:8px;
}

#message-error{
    position:relative;
    top:5px;
}

#message-close-button{
    background-color:rgb(103, 186, 253);
    color:white;
    border:0;
    padding:8px 14px;
    font-size: 14px;
    border-radius: 8px;
    cursor:pointer;
    position:relative;
    top:15px;
}

#message-close-button:hover{
    background-color: rgb(51, 163, 255);
}
